<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title or "App" }}</title>
  <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
  <header class="topbar">
    <div class="container">
      <a class="brand" href="/">Mi App CRUD</a>
      <nav>
          <a href="/productos">Productos</a>
          <a href="/clientes">Clientes</a>
      </nav>
    </div>
  </header>

  <main class="container">
    {% block content %}{% endblock %}
  </main>

  <footer class="footer">
    <div class="container">
      <small>FastAPI + PostgreSQL • {{ title or "" }}</small>
    </div>
  </footer>
</body>
</html>
